<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ListDetailBookController</servlet-name>
        <servlet-class>controller.admin.ListDetailBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDocumentPendingController</servlet-name>
        <servlet-class>controller.admin.ListDocumentPendingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocumentController</servlet-name>
        <servlet-class>controller.admin.AddDocumentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListDetailBookController</servlet-name>
        <url-pattern>/ListDetailBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDocumentPendingController</servlet-name>
        <url-pattern>/ListDocumentPendingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocumentController</servlet-name>
        <url-pattern>/AddDocumentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
